<!--Sidebar-->
<div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

    <!--/. Sidebar navigation -->
    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn grey" style="display: block"
                       href="{{ path('adminProduits') }}">
                        Produits
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn orange" style="display: block"
                       href="{{ path('adminCategories') }}">
                        Catégories
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn grey" style="display: block"
                       href="{{ path('adminSubCategories') }}">
                        Sous-catégories produits
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn orange" style="display: block"
                       href="{{ path('adminUtilisateurs') }}">
                        Clients
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn grey" style="display: block"
                       href="{{ path('adminCommande') }}">
                        Commandes
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn orange" style="display: block"
                       href="{{ path('adminPartenaires') }}">
                        Partenaires
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn grey" style="display: block"
                       href="{{ path('adminGaranties') }}">
                        Garanties
                    </a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="btn orange" style="display: block"
                       href="{{ path('adminRayon') }}">
                        Rayon
                    </a>
                </h4>
            </div>
        </div>

    </div>

</div>
<!--/.Sidebar-->