{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Référence</th>
                <th>Client</th>
                <th>Factures</th>
                <th>Etat</th>
                <th>Livraison</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.date|date('d-m-Y h:i:s') }}</td>
                <td>{{ commande.reference }}</td>
                <td>{{ commande.utilisateur.username }}</td>
                <td>
                    <a href="{{ path('adminShowFacture', { 'id' : commande.id }) }}">
                        <i class="fa fa-book"></i>
                    </a>
                </td>
                <td>
                    {% if commande.livrer %}
                        <i class="fa fa-check-circle"></i> Livrer
                    {% else %}
                        <a href="{{ path('adminLivrer', { 'id' : commande.id }) }}">
                            <i class="fa fa-bus"></i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if commande.kabba %}
                        Kabba / {{ commande.getDate()|date('d-m-Y H:i:s') }}
                    {% else %}
                        Normal
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}