{% trans_default_domain 'FOSUserBundle' %}

<main>

    <!--Main layout-->
    <div class="container">

        <h1 style="font-weight: 700">Changer de mot de passe</h1>
        <p>Modifiez votre mot de passe précédent</p>
        <div class="well">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">          
                
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        
                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <label for="form1">{{ 'form.current_password'|trans }}</label>
                            {{ form_widget(form.current_password, 
                                {'attr':{
                                    'translation_domain':'FOSUserBundle',
                                    'mapped':'false' }}) 
                            }}
                            
                            {#'constraints':new UserPassword() #}
                        </div>
                        
                        <div class="md-form">
                            
                            <i class="fa fa-lock prefix"></i>
                            <label for="form2">{{ 'form.new_password'|trans }}</label>
                            {{ form_widget(form.plainPassword.first, 
                                {'attr':{
                                    'type':'password',
                                    'translation_domain':'FOSUserBundle' }}) 
                            }}
                        </div>
                            
                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <label for="form3">{{ 'form.new_password_confirmation'|trans }}</label>
                            {{ form_widget(form.plainPassword.second, 
                                {'attr':{
                                    'type':'password',
                                    'translation_domain':'FOSUserBundle' }}) 
                            }}
                        </div>
                            
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                    </div>
                </div>
                
                <button class="btn btn-large miva waves-effect waves-light"
                        value="{{ 'change_password.submit'|trans }}" >
                    Mettre à jour
                </button>
                    
                {{ form_widget(form) }}
            </form>
        </div>

    </div>
    <!--/.Main layout-->

</main>    
