{% extends "::layout/defaultLayout.html.twig" %}
{% block titre %}MIVA | Processus de Livraison{% endblock %}

{% block body %}
    <main>
    <div class="container">
        <h1>Livraison</h1>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                {% if utilisateur.adresses|length != 0 %}

                    <form action="{{ path('validation') }}" method="POST">

                        <h4>Adresse de livraison</h4>
                        <br>
                        {% for adresse in utilisateur.adresses %}
                            <div class="well0">
                            <label class="radio">
                                <input style="transform: scale(4); margin-top: 30px; float: left" type="radio" name="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}
                                    checked="checked"{% endif %}>
                                <div style="margin-left: 35px">
                                    <span style="font-size: 15px">{{ adresse.adresse }}, {{ adresse.quartier }}
                                <br /><strong>{{ adresse.prenom }} {{ adresse.nom }}</strong></span>
                                <br>
                                <a href="{{ path('livraisonAdresseSuppression', { 'id' : adresse.id }) }}"class="red badge" style="font-size: 15px"><i class="fa fa-trash"></i> Supprimer</a>
                                </div>

                            </label>
                            </div>
                            <br>
                        {% endfor %}

                        <button type="submit" class="btn miva waves-effect waves-light">Valider l'adresse</button>
                    </form>
                {% endif %}
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 m-t-md">
                <h4>Ajouter une nouvelle adresse</h4>
                <form action="{{ path('livraison') }}" method="POST" >

                    {{ form_widget(form) }}
                    <button class="btn miva waves-effect waves-light m-t-md" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
    </main>
{% endblock %}