{% extends "::layout/defaultLayout.html.twig" %}

{% set totalHT = 0 %}
{% set totalTTC = 0 %}
{% set quantite = 0 %}
{#% set refTva = {} %}
{% for produit in produits %}
    {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %#}

{% block body %}

    <main>

        <!--Main layout-->
        <div class="container">
            <div class="message alert alert-success">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
            <h1 style="font-weight: 700">Mon panier</h1>
            <p>Visualisez et confirmez vos achats</p>
            <div class="well">
                <div id="paniers" class="table-responsive">
                    <table class="table product-table">
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th></th>
                            <th class="sort" data-sort="nom">Produit</th>
                            <th class="sort" data-sort="prix">Prix unitaire</th>
                            <th class="sort" data-sort="quantite">Quantité</th>
                            <th></th>
                            <th></th>
                            <th>Montant</th>
                            <th></th>
                        </tr>
                        </thead>
                        <!--/Table head-->

                        <!--Table body-->
                        <tbody class="list">

                        {% if produits|length == 0 %}
                            <tr>
                                <td colspan="4">
                                    <center>
                                        Aucun articles dans votre panier
                                    </center>
                                </td>
                            </tr>
                        {% endif %}

                        <!--Product row-->
                        {% for produit in produits %}

                            <tr>
                                <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">

                                    <th scope="row">
                                        <p class="id" style="display:none;">{{ produit.id }}</p>
                                        <a href="{{ path('presentation', { 'id' : produit.id }) }}" >
                                            <img
                                                src="{{ produit.image.AssetPath|imagine_filter('produitThumb') }}"
                                                alt="{{ produit.image.name }}"
                                                class="img-fluid" width="75px" >
                                        </a>
                                    </th>

                                    <td class="nom">
                                        <h5><strong>{{ produit.nom }}</strong></h5>
                                    </td>

                                    <td class="prix">
                                        {{ produit.prix }} F CFA
                                    </td>
                                    <td></td>
                                    <td></td>

                                    <td class="quantite">
                                        <select name="qte" class="span1" onChange="this.form.submit()">
                                            {% set quantite = produit.quantite %}
                                            {% for i in 1..quantite %}
                                                <option value="{{ i }}" {% if i == panier[produit.id] %}
                                                    selected="selected" {% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>&nbsp;
                                        <a ><i class="icon-trash"></i></a>
                                    </td>

                                    <td>
                                        {{ produit.prix * panier[produit.id] }} F CFA
                                    </td>

                                    <td class="remove">
                                        <a type="button"
                                           class="btn btn-sm miva waves-effect waves-light fa fa-trash remove-item-btn" id="btn{{ produit.id }}"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="Remove item" data-path="{{ path('supprimer', { 'id' : produit.id }) }}"
                                            >
                                        </a>
                                    </td>


                                </form>
                            </tr>
                            <!--/Product row-->
                            {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
                        {% endfor %}

                        {% if produits|length != 0 %}
                            <!--Resume row-->
                            <tr>
                                <td colspan="3">
                                    <a class="btn miva waves-effect waves-light"
                                        href="{{ path('vider') }}" >
                                        Vider votre panier 
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>

                                <td>
                                    <h4>
                                        <strong>
                                            Total
                                        </strong>
                                    </h4>
                                </td>

                                <td>
                                    <h4>
                                        <strong style="font-weight: 900">
                                            {{ totalHT }}
                                        </strong>
                                        F CFA
                                    </h4>
                                </td>
                                
                                <td colspan="3">
                                    <a class="btn miva waves-effect waves-light"
                                       href="{{ path('livraison') }}">
                                        Confirmer la commande
                                    </a>
                                </td>
                            </tr>
                            <!--/Resume row-->
                        {% endif %}
                        </tbody>
                        <!--/Table body-->
                    </table>
                </div>

            </div>

        </div>
        <!--/.Main layout-->

    </main>

{% endblock %}