<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Facture</title>
        <link href="{{ pathDefault }}css/facture.css" rel="stylesheet" type="text/css" />
    </head>
    <style>
        .bg{
            background-image: url("{{ asset('img/img-2.jpg') }}");

        }
        .entete{
            background-color: #5E0F0F;
            padding: 5px 15px;
            margin-right: 5px;
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
        hr{
            margin-top: 13px;
            border: 1px solid #949494;
        }
        .color{
            padding: 5px 0;
        }
    </style>
    <body class="bg">


        <h1>Miva</h1>
        <hr>

        <div align="center"><u><h2>FACTURE</h2></u></div>


        <div class="" style="background-color: #e8e8e8; padding: 15px">
            Page &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      : [[page_nb]]
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     : {{ facture.date|date('d-m-Y') }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Reference &nbsp;: {{ facture.reference }}
        </div>


<div align="right" >

            <p style="font-weight: bold">{{ facture.commande.livraison.nom }} {{ facture.commande.livraison.prenom }}</p>
            <span style="color: #777;font-size: 10px">{{ facture.commande.livraison.adresse}}</span><br/>
            <span style="color: #777;font-size: 10px">{{ facture.commande.livraison.quartier }} </span>

</div>
        <pre>   </pre>
        <table id="entity">
            <tr>
                <td class="entete" width="200">DESIGNATION</td>
                <td class="entete" width="105">QUANTITE</td>
                <td class="entete" width="100">Prix - Unitaire</td>
                <td class="entete" width="105">MONTANT </td>
            </tr>
                {% for produit in facture.commande.produit %}
                <tr>
                    <td class="color">&nbsp;&nbsp;&nbsp; {{ produit.reference }}</td> <hr>
                    <td class="color">&nbsp;&nbsp;&nbsp; {{ produit.quantite }}</td> <hr>
                    <td class="color">&nbsp;&nbsp;&nbsp; {{ produit.prixRed }} F CFA</td> <hr>
                    <td class="color">&nbsp;&nbsp;&nbsp; {{ produit.prixRed * produit.quantite }} F CFA</td> <hr>
                </tr>
                {% endfor %}
        </table>
        <pre>   </pre>
        <div align="right">
                <span>TOTAL :</span>
                <span class="color"><span style="font-size: 32px;font-weight: bold;color: #5E0F0F">{{ facture.commande.prixRed }}</span> F CFA</span>
            {#% for key, tva in facture.commande.reduction %}
            <tr>
                <td width="110">Reduction <span class="color min">{{ key }}</span> :</td>
                <td width="100" class="color">{{ tva }} F CFA</td>
            </tr>
            {% endfor %#}
        </div>
        <div id="footer" style="color: #777">
            <br /><br /><br />
            <span class="color strong">{{ adresse }}</span>
            <br />
            (+228) {{ telephone }}
        </div>
    </body>
</html>